.meetVideoContainer {
    position: relative;
    height: 100vh;
background: url('/trial1.gif') no-repeat center center;
background-size: cover;

}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 

    display: flex;
    
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    color: black;
    border-radius: 10px;
    width: 20vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 0;
}

.lobby {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 4rem;
  gap: 1.5rem;  
  height: 100vh;
}
.lobby video {
  width: 320px;
  height: 240px;
  border-radius: 8px;
}
